
@mixin font-cfg($font-size: 14px, $color: #ffffff, $font-weight: 400, ) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
@mixin visualyHidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}